<style>
    .vcenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .border {
        border: 1px solid black;
        border-radius: 4px;
    }
    .equal {
        display: flex;
        flex-wrap: wrap;
    }
    .equal > div[class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .vertical-align {
        display: flex;
        flex-direction: row;
    }
    .vertical-align > #buttonValigned {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vertical-align > div > #pickedProgramValign {
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>
<script>
    $('.pull-down').each(function() {
        var $this = $(this);
        $this.css('margin-top', $this.parent().height() - $this.height())
    });
</script>
<div class="container" ng-controller="immigrationProgramsCtrl">
    <div ng-switch on="mode.yourPrograms">
        <h4 class="text-center" ng-switch-default>
            Here you can get information about the immigration programs, download forms and guides
        </h4>
        <div class="row" ng-switch-when="true">
            <div class="col-md-6">
                <h1 class="pull-right">Your Way</h1>
            </div>
            <div class="col-md-6 pull-down">
                <h4 class="pull-left">Your immigration</h4>
            </div>
        </div>
    </div>
    <div class="row equal vertical-align">
        <div class="col-md-4" ng-switch on="mode.yourPrograms">
            <div ng-switch-default>
                <div>
                    <select class="btn-block" ng-change="updateCountrySelect()" ng-model="$parent.countrySelected"
                            ng-options="item.name for item in countries track by item.countryId">
                        <option value="" disabled>Select country for immigration</option>
                    </select>
                </div>
                <div style="margin-top: 10%">
                    <select class="btn-block" ng-change="updateCategorySelect()" ng-model="$parent.categorySelected"
                            ng-options="item for item in categories">
                        <option value="" disabled>Select category of program</option>
                    </select>
                </div>
                <div style="margin-top: 10%">
                    <select class="btn-block" ng-change="updateProgramSelect()" ng-model="$parent.programSelected"
                            ng-options="item.name for item in programs track by item.programId">
                        <option value="" disabled>Select immigration program</option>
                    </select>
                </div>
                <div style="margin-top: 10%">
                    <p class="text-center">{{btnDescripText.text}}</p>
                    <button class="btn btn-default center-block" ng-click="clickHandler()">{{btnDescripText.btn}}</button>
                </div>
            </div>

            <div id="{{$index}}" class="row vcenter" ng-switch-when="true" ng-repeat="item in yourImmigrationPrograms">
                <div class="col-md-6" style="margin-top: 5px">
                    <p class="btn btn-default btn-block" ng-click="showProgramInformation(item)">
                        {{$index + 1}}. <b>{{item.program.country.name}}.</b><br>
                        {{item.program.category}}.<br>
                        {{item.program.name}}
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="border btn-block text-center">
                        {{getFulfillment(item)}}%
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default btn-xs btn-block" ng-click="removeProgramFromWay(item)">Remove</button>
                </div>
            </div>

            <div id="pickedProgramValign" ng-switch-when="picked" class="center-block">
                <p>
                    <b>{{yourImmigrationPrograms[index].program.country.name}}.</b><br>
                    {{yourImmigrationPrograms[index].program.category}}.<br>
                    {{yourImmigrationPrograms[index].program.name}}
                </p>
            </div>
        </div>

        <div id="buttonValigned" class="col-md-8" ng-show="mode.chooseNewProgramBtnState">
            <button class="btn btn-default center-block" ng-click="goToImmigrationProgramsView()">Choose a new program</button>
        </div>

        <div class="col-md-8 well" ng-switch on="mode.value" ng-show="programMenuVisibility">
            <div ng-switch-when="clean" width="750px">
                <div class="row">
                    <h5 class="text-center">{{programSelected.description}}</h5>
                    <div class="col-md-4">
                        <button class="btn btn-default btn-block" style="margin-top: 10%"
                                ng-click="programMenuHandler(viewsUrls.steps, btnText.dirty.steps)">Steps</button>
                        <button class="btn btn-default btn-block" style="margin-top: 10%"
                                ng-click="programMenuHandler(viewsUrls.requirements, btnText.dirty.requirements)">Requirements</button>
                        <button class="btn btn-default btn-block" style="margin-top: 10%"
                                ng-click="programMenuHandler(viewsUrls.formsAndGuides, btnText.dirty.formsAndGuides)">Forms and guides</button>
                    </div>
                    <div class="col-md-8"></div>
                </div>
            </div>

            <div ng-switch-when="dirty" width="750px">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-default btn-block"
                                ng-click="programMenuHandler(viewsUrls.steps, btnText.dirty.steps)">
                            {{btnText.show.steps}}
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default btn-block"
                                ng-click="programMenuHandler(viewsUrls.requirements, btnText.dirty.requirements)">
                            {{btnText.show.requirements}}
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default btn-block"
                                ng-click="programMenuHandler(viewsUrls.formsAndGuides, btnText.dirty.formsAndGuides)">
                            {{btnText.show.formsAndGuides}}
                        </button>
                    </div>
                </div>
                <h5 class="text-center">{{programSelected.description}}</h5>
                <ng-include src="programMenuUrl.url" ng-controller="programMenuCtrl"></ng-include>
            </div>
            <button class="btn btn-primary center-block" ng-click="addProgramToYourWay()" ng-show="mode.btnAddProgram"
                    style="margin-top: 15px">Add this program to Your Way
            </button>
            <span class="btn btn-success center-block" ng-show="mode.textProgramInWay" style="margin-top: 15px">
                This program is already in Your Way</span>
        </div>
    </div>
</div>