<style>
    .margin-phones {
        margin-left: 15px;
    }
    #line {
        border-bottom: 1px solid gray;
        margin-bottom: 15px;
    }
    .astext {
        background:none;
        border:none;
        margin:0;
        padding:0;
        color: grey;
        font-weight: bold;
    }
    .offset-top {
        margin-top: 5px;
    }
</style>
<script>
    $('.pull-down').each(function() {
        var $this=$(this);
        $this.css('margin-top', $this.parent().height()-$this.height())
    });
</script>
<div class="container" ng-controller="personalDataCtrl">
    <div class="row">
        <div class="col-md-6">
            <h1 class="pull-right">Your Way</h1>
        </div>
        <div class="col-md-6 pull-down">
            <h4 class="pull-left">Personal data</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button>
                <img src="resources/img/YourWay/YourWay-YourPhotoHere-100x100.gif">
            </button>
        </div>
        <div class="col-md-9" ng-switch on="mode.value">
            <div ng-switch-when="getData">
                <div>Last name: <i>{{personData.lastName}}</i></div>
                <div>First name: <i>{{personData.firstName}}</i></div>
                <div>Sex: <i>{{sex.value}}</i></div>
                <div>Birthday: <i>{{personData.birthdate}}</i></div>
                <div>Marital status: <i>{{personData.familyStatus}}</i></div>
                <div>Phone:
                    <div class="margin-phones">
                        <div>mobile: <i>{{personData.mobilephone}}</i></div>
                        <div>home: <i>{{personData.homephone}}</i></div>
                        <div>work: <i>{{personData.workphone}}</i></div>
                    </div>
                </div>
                <div>Skills/occupation: <i>{{personData.ocupation}}</i></div>
                <div>Education: <i>{{personData.education}}</i></div>
                <div id="line"></div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="astext" ng-click="viewAdditionalData()">View additional data</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default pull-right" ng-click="setPersonData()" ng-hide="showPersonCustomData">Change your data</button>
                    </div>
                </div>
                <div id="{{$index}}" class="row" ng-show="showPersonCustomData"
                        ng-repeat="item in personCustomData | filter: checkNotNull track by item.personCustomDataId">
                    <div class="col-md-3">
                        <span>{{item.fieldNames.name}}</span>
                    </div>
                    <div class="col-md-2">
                        <input class="btn-block" type="text" ng-model="item.value" ng-disabled="inputDisabled[$index]"
                               placeholder="press remove">
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default btn-xs" ng-hide="inputDisabled[$index]"
                            ng-click="saveChangedCustomData($index, item, null)">ok</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default btn-xs" ng-click="changeCustomData($index, item)">{{btnText[$index]}}</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default btn-xs" ng-click="removeCustomData(item)">Remove</button>
                    </div>
                    <div class="col-md-3">
                        <select class="btn-block" ng-change="updateSelect()" ng-model="selected"
                                ng-options="item.fieldNames.id for item in personCustomData track by item.personCustomDataId">
                            <option value="" disabled>For some forms this value?</option>
                        </select>
                    </div>
                </div>
            </div>

            <div ng-switch-when="setData">
                <form name="setPersonData" novalidate ng-submit="savePersonData(personData)">
                    <div class="row offset-top">
                        <div class="col-md-2 pull-down">Last name:</div>
                        <div class="col-md-10 pull-down">
                            <input name="lastName" type="text" class="form-control" ng-model="personDataDirty.lastName">
                        </div>
                    </div>
                    <div class="row offset-top">
                        <div class="col-md-2 pull-down">First name:</div>
                        <div class="col-md-10 pull-down">
                            <input name="firstName" type="text" class="form-control" ng-model="personDataDirty.firstName">
                        </div>
                    </div>
                    <div class="row offset-top">
                        <div class="col-md-2 pull-down">Sex:</div>
                        <div class="col-md-2 pull-down">
                            <div class="checkbox" style="margin-bottom: 0">
                                <label style="padding-left: 0">
                                    <input name="male" type="radio" ng-model="sexDirty.value" value="male"> male
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 pull-down">
                            <div class="checkbox" style="margin-bottom: 0">
                                <label style="padding-left: 0">
                                    <input name="female" type="radio" ng-model="sexDirty.value" value="female"> female
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 pull-down"></div>
                    </div>
                    <div class="row offset-top">
                        <div class="col-md-2 pull-down">Birthday:</div>
                        <div class="col-md-2 pull-down">
                            <input name="day" type="text" class="form-control" ng-model="birthdayDirty.day" placeholder="day">
                        </div>
                        <div class="col-md-1 pull-down" style="width: 1px">/</div>
                        <div class="col-md-2 pull-down">
                            <input name="day" type="text" class="form-control" ng-model="birthdayDirty.month" placeholder="month">
                        </div>
                        <div class="col-md-1 pull-down" style="width: 1px">/</div>
                        <div class="col-md-2 pull-down">
                            <input name="day" type="text" class="form-control" ng-model="birthdayDirty.year" placeholder="year">
                        </div>
                        <div class="col-md-2 pull-down"></div>
                    </div>
                    <div class="row offset-top">
                        <div class="col-md-2 pull-down">Marital status:</div>
                        <div class="col-md-2 pull-down">
                            <div class="checkbox" style="margin-bottom: 0">
                                <label style="padding-left: 0">
                                    <input name="married" type="radio" ng-model="personDataDirty.familyStatus" value="married"> married
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 pull-down">
                            <div class="checkbox" style="margin-bottom: 0">
                                <label style="padding-left: 0">
                                    <input name="single" type="radio" ng-model="personDataDirty.familyStatus" value="single"> single
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 pull-down">
                            <div class="checkbox" style="margin-bottom: 0">
                                <label style="padding-left: 0">
                                    <input name="divorced" type="radio" ng-model="personDataDirty.familyStatus" value="divorced"> divorced
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 pull-down">
                            <div class="checkbox" style="margin-bottom: 0">
                                <label style="padding-left: 0">
                                    <input name="widowed" type="radio" ng-model="personDataDirty.familyStatus" value="widowed"> widowed
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 pull-down"></div>
                    </div>
                    <div class="row offset-top">
                        <div class="col-md-2 pull-down">Phone:</div>
                        <div class="col-md-10 pull-down"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-md-offset-1 pull-down">mobile:</div>
                        <div class="col-md-10 pull-down">
                            <input name="mobilePhone" type="text" class="form-control" ng-model="personDataDirty.mobilephone">
                        </div>
                    </div>
                    <div class="row offset-top">
                        <div class="col-md-1 col-md-offset-1 pull-down">home:</div>
                        <div class="col-md-10 pull-down">
                            <input name="homePhone" type="text" class="form-control" ng-model="personDataDirty.homephone">
                        </div>
                    </div>
                    <div class="row offset-top">
                        <div class="col-md-1 col-md-offset-1 pull-down">work:</div>
                        <div class="col-md-10 pull-down">
                            <input name="workPhone" type="text" class="form-control" ng-model="personDataDirty.workphone">
                        </div>
                    </div>
                    <div class="row offset-top">
                        <div class="col-md-2 pull-down">Skills/occupation:</div>
                        <div class="col-md-10 pull-down">
                            <input name="occupation" type="text" class="form-control" ng-model="personDataDirty.ocupation">
                        </div>
                    </div>
                    <div class="row offset-top">
                        <div class="col-md-2 pull-down">Education:</div>
                        <div class="col-md-10 pull-down">
                            <input name="education" type="text" class="form-control" ng-model="personDataDirty.education">
                        </div>
                    </div>
                    <div class="row offset-top">
                        <div class="col-md-2 col-md-offset-4">
                            <button class="btn btn-primary btn-block" ng-click="savePersonData()">Save</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-default btn-block" ng-click="cancel()">Cancel</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>