<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<base href="/Yimin/WebContent/">-->
    <base href="/yimin/" />

    <style>
        td {
            padding: 0px 15px 0px 0px;
        }
        .modal-background {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #3c3c3c;
            opacity: 0.95;
            z-index: 1;
        }
        .margin-top-15px {
            margin-top: 15px;
        }
    </style>
</head>
<body ng-controller="mainAppCtrl">
    <!--<div id="signInUpOut">-->
    <div class="container margin-top-15px">
        <div class="row">
            <div>
                <ng-include src="signInUpOutUrl" ng-controller="signInUpOutCtrl" />
            </div>
            <div class="col-md-1 col-md-offset-7">
                <button class="btn btn-default pull-right" style="margin-top: 20px">Help</button>
            </div>
        </div>
        <div class="row margin-top-15px">
            <!--<div class="btn-group">-->
                <div class="col-md-3">
                    <button class="btn btn-default btn-block" ng-click="goToYourWayView()">Your Way</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default btn-block" ng-click="goToImmigrationProgramsView()">Immigration Programs</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default btn-block" ng-click="goToEmbassiesInfoView()">Embassies Info</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default btn-block" ng-click="goToCoutriesInfoView()">Countries Info</button>
                </div>
            <!--</div>-->
        </div>
        <div class="row" ng-view></div>
        <div class="modal-background" ng-show="modalMode.modalBackground" ng-click="setCSS.modalClose()"></div>
    </div>

    <!--<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>-->
    <script src="resources/lib/jquery-2.2.3.min.js"></script>

    <!--jQuery UI Accordion-->
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
    <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
    <!--jQuery UI Accordion-->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
    <script src="resources/lib/angular.min.js"></script>

    <script src="resources/lib/angular-route.min.js"></script>
    <script src="resources/lib/angular-sanitize.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.1/angular-strap.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.5/angular-strap.tpl.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->

    <!--Bootstsrap offline-->
    <link rel="stylesheet" href="resources/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/lib/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
    <script src="resources/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>


    <script src="resources/mainApp.js"></script>
    <script src="resources/common/commonHttpRequestsFctr.js"></script>
    <script src="resources/common/commonServices.js"></script>
    <script src="resources/common/authService.js"></script>
    <script src="resources/common/session.js"></script>
    <script src="resources/signInUpOut/signInUpOutCtrl.js"></script>
    <script src="resources/signInUpOut/signInUpOut2Ctrl.js"></script>
    <script src="resources/yourWay/yourWayCtrl.js"></script>
    <script src="resources/countriesInfo/countriesInfoCtrl.js"></script>
    <script src="resources/embassiesInfo/embassiesInfoCtrl.js"></script>
    <script src="resources/embassiesInfo/embassiesInfoFctr.js"></script>
    <script src="resources/immigrationPrograms/immigrationProgramsCtrl.js"></script>
    <script src="resources/immigrationPrograms/immigrationProgramsFctr.js"></script>
    <script src="resources/immigrationPrograms/programMenuCtrl.js"></script>
    <script src="resources/registration/registrationCtrl.js"></script>
    <script src="resources/yourWay/personalData/personalDataCtrl.js"></script>
</body>
</html>